
/**
 * Bootstrap columns:
 */
 .row {
    --bs-gutter-x: 1.5rem;
    // --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    // margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
.row > * {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * .5);
	padding-left: calc(var(--bs-gutter-x) * .5);
	margin-top: var(--bs-gutter-y);
	box-sizing: border-box;
}
// .col {
//     flex: 1 0 0%;
// }
// .col-4 {
//     flex: 0 0 auto;
//     width: 33.33333333%;
// }
@media (min-width: 500px) {
	.col-sm-6 {
		flex: 0 0 auto;
		width: 50%;	
	}
}
@media (min-width: 768px)  {
	.col-md-4 {
		flex: 0 0 auto;
		width: 33.33333333%;	
	}
}
