
// Telegram posts tend to be center aligned when they go too wide
// Best to limit the width
iframe[id^="telegram-post-"] {
    max-width: 500px;
	min-width: 300px !important;
}

// Telegram Channel lists (these have the id="preview")
iframe#preview {
    width: 100% !important;
}

// Add margin after embeds, before following item/paragraph
script[src^="https://telegram"] + p, 
script[src^="https://telegram"] + .scribd_iframe_embed, 
iframe#preview + p,
.scribd_iframe_embed + p
{
	margin-top: 1.666rem;
}

// Embeds immediately after a heading
iframe#preview, iframe[id^="telegram-post-"] {
	h2 + &, h3 + &, h4 + &, h5 + & {
		margin-top: 18px !important;
	}
}

