/**
 * Accordion box that expands when heading is clicked
 */
.expandable-heading  {

    // font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid #d3d2d2;
    padding-bottom: 10px;

    padding-left: 36px;   // Leave room for arrow
    @media (max-width: 500px) {
        padding-left: 30px;   // Leave room for arrow
    }

    // color: #536171;
    // &:hover {
        // color: black;
    // }
   
	.arrow {
        margin-right: 0.5em;
		// display: inline-block;
		transition: transform 0.3s;
        background-image: url(/images/icons/chevron-down.svg);
        width: 14px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        float: left;
        margin-top: 0.4em;
        
        margin-left: -32px;
        @media (max-width: 500px) {
            margin-left: -30px;            
        }
	}

	&.expanded .arrow {
        transform: rotate(180deg);
	}

    // Hover effect
    &:hover {
        box-shadow: 0 3px 0 #eaeaea;
    }
}

.expandable-content {
    display: none;
    // margin-top: 1.333em;
    opacity: 0.3;
    transition: all 0.3s;
    // color: #536171;

    // & > :last-child {
    //     margin-bottom: 0;
    //     pre {
    //         margin-bottom: 0.33em;
    //     }
    // }

    &.expanded {
        display: block;
        opacity: 1;
    }

    // Fix for headings with zero top-margin
    & > h1:first-child, 
    & > h2:first-child, 
    & > h3:first-child, 
    & > h4:first-child, 
    & > h5:first-child, 
    & > h6:first-child {
        margin-top: 1.5em;
    }
}

