
// NOTE: this does NOT yet work with non-standard content widths

@media (min-width: 810px) {
	
	// Old version
	// (blindly forces the image to 93% width, but sometimes gets too large)
	img.force-wider {
		max-width: calc(93vw);
		margin-left: calc(-46.5vw + 50%);	
	}

	// This new version works much better since images can have a max-width
	// Apply the class to the parent p or div tag
	p.force-wide, div.force-wide {
		width: calc(93vw);
		margin-left: calc(-46.5vw + 50%);
		text-align: center;
		margin-top: 1.666em;
	}

}
