
.image-border {
	border: 1px solid #aaa;
	box-sizing: border-box;
}

.centered {
	text-align: center;
}

.muted {
    opacity: 0.5;
	a {
		border-bottom-color: #d6e3ed;
	}
}

// Use this on a paragraph following an image or embed
.caption {
	color: #cacaca;
    font-size: 63%;
 
	a {
		color: inherit;
		border-bottom: 0;
		text-decoration: underline;
	}

	// Reduce spacing between image and caption
	p + &, .responsive-iframe + & {
		margin-top: -1.2rem;

		// Fix for captions inside a list
		li & {
			margin-top: -0.2rem;
		}
	}
	.scribd_iframe_embed + & {
		margin-top: 0;
	}
}

@media (max-width: 450px) {
	.small-on-mobile {
		font-size: 85%;
		line-height: 1.4;
	}
}

