{% assign action = include.action %}
<a class="{% if action.style != 'link' %}button{% endif %}{% if action.style == 'secondary' %} button-secondary{% endif %}{% if action.style == 'icon' %} button-icon{% endif %}" href="{{ action.url | relative_url }}"{% if action.new_window %} target="_blank" rel="noopener"{% endif %}>
  {% if action.style == 'icon' and action.icon_class %}
  <span class="icon fab {{ action.icon_class }}" aria-hidden="true"></span><span class="screen-reader-text">{{ action.label }}</span>
  {% else %}
  {{ action.label }}
  {% endif %}
</a>
