{% include vue %}

<script>

    var countyData = [
        // We populate the JSON data here from Jekyll/Liquid
        {% for row in site.data.arizonaCounties %}{{ row | jsonify }},{% endfor %}
    ];

    // Restructure the data so that it's indexed by county and year
    var formattedData = {};
    countyData.forEach(row => {
        var county = toTitleCase(row.County);
        if (!formattedData[county])
            formattedData[county] = {};
        formattedData[county][row.year] = row;
    });

    /**
     * Format a number with X decimal places and commas between the thousands
     * 
     * e.g. (1234.56).niceFormat()
     */
    Number.prototype.niceFormat = function (decimalPlaces = 0) {
        return this.toLocaleString([], {minimumFractionDigits: decimalPlaces, maximumFractionDigits: decimalPlaces})
    };    
    Number.prototype.round = function(places = 2) {
        return Math.round(this * Math.pow(10, places)) / Math.pow(10, places);
    };    
    Number.prototype.percent = function(places = 2) {
        return (this * 100).round(places)
    };
    String.prototype.niceFormat = function(decimalPlaces = 0) {
        return parseFloat(this).niceFormat(decimalPlaces);
    };    

    countyStats = new Vue({
        el: '#county-stats',
        data: {
            selectedCounty: getCountyFromUrl() || Object.keys(formattedData)[0],
            data: formattedData,
            showTables: false,
        },
        computed: {
            countyData: function() {
                var data = this.data[this.selectedCounty];
                for (var row of Object.values(data)) {
                    row.DV = parseInt(row.DV);
                    row.RV = parseInt(row.RV);
                    row.RRIP = (row.RRI / (row.RR - row.RRI)).percent();
                    row.DRIP = (row.DRI / (row.DR - row.DRI)).percent();
                    row.ORIP = (row.ORI / (row.OR - row.ORI)).percent();
                    row.RVIP = (row.RVI / (row.RV - row.RVI)).percent();
                    row.DVIP = (row.DVI / (row.DV - row.DVI)).percent();
                    row.OVIP = (row.OVI / (row.OV - row.OVI)).percent();
                }
                return data;
            }
        },
        methods: {
            color: function(percent) {
                if (percent > 15)
                    return 'rgb(181, 239, 181)';
                if (percent > 3)
                    return 'rgb(228, 252, 228)';
                if (percent < -15)
                    return 'rgb(255, 176, 176)';
                if (percent < -3)
                    return 'rgb(252, 228, 228)';
                return 'none';
            }
        },
        watch: {
            // Re-render chart when county is changed
            selectedCounty: function() {
                if (!window.countyBarChart)
                    return;
                countyBarChart.data.datasets = getChartDataset();
                countyBarChart.update();

                // Also populate the selected county into the URL
                // so that if it's shared, others will see the correct county
                history.pushState && history.pushState({}, null, '#' + slug(this.selectedCounty));
            }
        }

    });

    function slug(string) {
        return string.toLowerCase().replace(/\W+/g, '-');
    }

    /**
     * Parses the county name from the URL hash
     * #santa-cruz --> SANTA CRUZ
     */
    function getCountyFromUrl() {
        var urlSlug = location.hash.substr(1);
        for (county of Object.keys(formattedData)) {
            if (urlSlug == slug(county))
                return county;
        }
    }

    // If the URL hash changes to a valid county, update the charts
    window.addEventListener('hashchange', function() {
        var county = getCountyFromUrl();
        if (county)
            countyStats.selectedCounty = county;
    });

    function toTitleCase(str) {
        return str.replace(
            /\w*/g,
            function(txt) {
                return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
            }
        );
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    countyBarChart = new Chart(document.getElementById('county-chart'), {
        type: 'bar',
        data: {
            labels: ['2004','2008','2012','2016','2020'],
            datasets: getChartDataset(true),
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                title: {
                    display: true,
                    text: 'Percentage change since previous election',
                },
                legend: {
                    position: 'bottom',
                    maxWidth: 100,
                },

            }
        }
    });

    function getChartDataset(initialPageLoad) {
        var datasets = [{
                label: 'Republican Registrations % Increase',
                data: pluck(countyStats.countyData, 'RRIP').slice(1),
                backgroundColor: '#ffece9',
            },{
                label: 'Democrat Registrations % Increase',
                data: pluck(countyStats.countyData, 'DRIP').slice(1),
                backgroundColor: '#ddeaff',
                // backgroundColor: ['rgb(24, 132, 205)', 'rgb(225, 69, 102)'],
            },{
                label: 'Other Registrations % Increase',
                data: pluck(countyStats.countyData, 'ORIP').slice(1),
                // hidden: true,
                // backgroundColor: ['rgb(24, 132, 205)', 'rgb(225, 69, 102)'],
            },{
                label: 'Republican Votes % Increase',
                data: pluck(countyStats.countyData, 'RVIP').slice(1),
                backgroundColor: 'rgb(225, 69, 102)',
            },{
                label: 'Democrat Votes % Increase',
                data: pluck(countyStats.countyData, 'DVIP').slice(1),
                backgroundColor: 'rgb(24, 132, 205)',
                // backgroundColor: ['rgb(24, 132, 205)', 'rgb(225, 69, 102)'],
            },{
                label: 'Other Votes % Increase',
                data: pluck(countyStats.countyData, 'OVIP').slice(1),
                // hidden: true,
                backgroundColor: 'rgb(150,150,150)',
            }];
        if (initialPageLoad) {
            // Hide the counts for other parties on page load
            // They can be enabled by the user if desired
            datasets[2].hidden = true;
            datasets[5].hidden = true;
        } else {
            // When loading a new county, keep the same sets hidden/visible
            datasets.forEach((set, i) => set.hidden = !countyBarChart.isDatasetVisible(i));
        }
        return datasets;   
    }

    /**
     * Utility function
     * pluck([{a:1},{a:2}], 'a') returns [1,2]
     */
    function pluck(array, attributeName) {
        var result = [];
        if (!Array.isArray(array))
            array = Object.values(array);
        array.forEach(item => result.push(item[attributeName]));
        return result;
    }
</script>