{% raw %}

<div id="county-stats" v-cloak>

    <p>
    Choose County:

        <select style="width: auto; display: inline-block; text-transform: capitalize" v-model="selectedCounty">
            <option v-for="county in Object.keys(data)" style="text-transform: capitalize">{{ county }}</option>
        </select>
    </p>

    <p>In 2020, <span class="title-case">{{ selectedCounty }}</span> County voted:</p>

    <table>
        <thead>
            <tr>
                <th v-bind:class="{red: countyData[2020].RV > countyData[2020].DV}">Republican</th>
                <th v-bind:class="{blue: countyData[2020].RV < countyData[2020].DV}">Democrat</th>
                <th>Other</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td v-bind:class="{red: countyData[2020].RV > countyData[2020].DV}">{{ countyData[2020].RV.niceFormat() }}</td>
                <td v-bind:class="{blue: countyData[2020].RV < countyData[2020].DV}">{{ countyData[2020].DV.niceFormat() }}</td>
                <td>{{ countyData[2020].OV.niceFormat() }}</td>
            </tr>
        </tbody>
    </table>

    <div class="chart" style="position: relative; width: 100%; height: 370px">
        <canvas id="county-chart"></canvas>
    </div>

    <div v-show="showTables">

        <p>The tables below show the change in party registrations and vote counts for <span class="title-case">{{selectedCounty}}</span> County when compared with the previous Presidential election, four years earlier.</p>

        <div class="responsive-table">
            <table class="small">
                <thead>
                    <tr>
                        <th style="border: 0"></th>
                        <th class="left-border" colspan=3># change in registrations</th>
                        <th class="left-border right-border" colspan=3># change in votes</th>
                    </tr>
                    <tr>
                        <th class="left-border xsmall" style="vertical-align: bottom">Year</th>
                        <th class="xsmall left-border">Republican</th>
                        <th class="xsmall">Democrat</th>
                        <th class="xsmall">Other</th>
                        <th class="xsmall left-border">Republican</th>
                        <th class="xsmall">Democrat</th>
                        <th class="xsmall right-border">Other</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in countyData" v-if="row.year > 2000">
                        <td class="left-border">{{ row.year }}</td>
                        <td class="left-border"
                            v-bind:style="{'background-color': color(row.RRIP) }">
                            {{ row.RRI.niceFormat() }}
                        </td>
                        <td
                            v-bind:style="{'background-color': color(row.DRIP) }">
                            {{ row.DRI.niceFormat() }}
                        </td>
                        <td
                            v-bind:style="{'background-color': color(row.ORIP) }">
                            {{ row.ORI.niceFormat() }}
                        </td>
                        <td class="left-border"
                            v-bind:style="{'background-color': color(row.RVIP) }">
                            {{ row.RVI.niceFormat() }}
                        </td>
                        <td
                            v-bind:style="{'background-color': color(row.DVIP) }">
                            {{ row.DVI.niceFormat() }}
                        </td>
                        <td class="right-border"
                            v-bind:style="{'background-color': color(row.OVIP) }">
                            {{ row.OVI.niceFormat() }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="responsive-table">
            <table class="small">
                <thead>
                    <tr>
                        <th style="border: 0"></th>
                        <th class="left-border" colspan=3>% change in registrations</th>
                        <th class="left-border right-border" colspan=3>% change in votes</th>
                    </tr>
                    <tr>
                        <th class="left-border xsmall" style="vertical-align: bottom">Year</th>
                        <th class="xsmall left-border">Republican</th>
                        <th class="xsmall">Democrat</th>
                        <th class="xsmall">Other</th>
                        <th class="xsmall left-border">Republican</th>
                        <th class="xsmall">Democrat</th>
                        <th class="xsmall right-border">Other</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in countyData" v-if="row.year > 2000">
                        <td class="left-border">{{ row.year }}</td>
                        <td class="left-border" v-bind:style="{'background-color': color(row.RRIP) }">{{ row.RRIP }}%</td>
                        <td v-bind:style="{'background-color': color(row.DRIP) }">{{ row.DRIP }}%</td>
                        <td v-bind:style="{'background-color': color(row.ORIP) }">{{ row.ORIP }}%</td>
                        <td class="left-border" v-bind:style="{'background-color': color(row.RVIP) }">{{ row.RVIP }}%</td>
                        <td v-bind:style="{'background-color': color(row.DVIP) }">{{ row.DVIP }}%</td>
                        <td class="right-border" v-bind:style="{'background-color': color(row.OVIP) }">{{ row.OVIP }}%</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p class="small">Red represents a decrease, green represents an increase.</p>

    </div>

    <p><button class="button" v-on:click="showTables = !showTables">{{ showTables ? 'Hide' : 'Show' }} Detailed Data</button></p>


</div>

{% endraw %}