<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

    // We normally load Disqus when the user clicks the button,
    // however when we detect #comment-XXXXX in the URL, we'll
    // launch it immediately
    if (location.hash && location.hash.startsWith 
        && location.hash.startsWith('#comment-'))
            launchDisqus();
    
    function launchDisqus() {

        // Hide button
        document.getElementById('show-comments-button').style.display = 'none';

        // Config
        var disqus_config = function () {
            this.page.url = '{{ site.url }}{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '{{ page.path }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://election-fraud-at-a-glance.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();

    }
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
