{% comment %}

    Data for this table comes from /_data/states.yml
    (in YAML format)
    Taken directly from Seth's reports

{% endcomment %}

<!-- Sort by: <select><option>State</option></select> -->

<div class="responsive-table">
<table class="small">
    <thead>
        <tr>
            <th></th>
            <th style="text-align: center" colspan="2">Trump</th>
            <th style="text-align: center" colspan="2">Biden</th>
            <th style="text-align: center" colspan="2">Potential fraud</th>
            <th></th>
        </tr>
        <tr>
            <th>State</th>
            <th style="text-align: center" title="Official vote count, as certified by the state">Votes</th>
            <th style="text-align: center" title="Official vote count, as certified by the state">%</th>
            <th style="text-align: center" title="Official vote count, as certified by the state">Votes</th>
            <th style="text-align: center" title="Official vote count, as certified by the state">%</th>
            <th style="text-align: center" title="Estimated number of votes that exceed voter registration trends">Votes</th>
            <th style="text-align: center" title="Democrat votes that exceeded voter registration trends, as a percentage of total Biden votes">%</th>
            <th style="text-align: center" title="Whether we have additional video content expanding on the written statistics"></th>
        </tr>

    
    </thead>
    <tbody>

        {% assign pages = site.pages %}
        {% for page in pages %}
            {% if page.url contains "seth-keshel-reports/" and page.state and page.abbr "%}
                {% assign state = page.name | replace: '.md', '' %}
                {% assign data = site.data.states[state] %}

                <tr class="hover">
                    <td>
                        <a href="{{ page.url }}">{{ page.state }}</a>
                    </td>
                    <td title="Official vote count, as certified by the state"
                        {% if data.trump_votes_raw > data.biden_votes_raw %}
                            class="red"
                        {% endif %}
                    >
                        {{ data.trump_votes }}
                    </td>
                    <td title="Percentage of total votes"
                        {% if data.trump_votes_raw > data.biden_votes_raw %}
                            class="red"
                        {% endif %}
                    >
                        ({{ data.trump_percent }})
                    </td>
                    <td title="Official vote count, as certified by the state"
                        {% if data.trump_votes_raw < data.biden_votes_raw %}
                            class="blue"
                        {% endif %}
                    >
                        {{ data.biden_votes }}
                    </td>
                    <td title="Percentage of total votes"
                        {% if data.trump_votes_raw < data.biden_votes_raw %}
                            class="blue"
                        {% endif %}
                    >
                        ({{ data.biden_percent }})
                    </td>
                    <td title="Estimated number of votes that exceed voter registration trends">
                        {{ data.excess_biden_votes }} 
                    </td>
                    <td title="Excess votes as a percentage of Biden votes">
                        ({{ data.excess_biden_votes_raw | times: 100.0 | divided_by: data.biden_votes_raw | round: 1 }}%)
                    </td>
                    <td style="cursor: default">
                        {% if page.content contains 'rumble.com' %} 
                            <small title="Report includes video">🎬</small>
                        {% endif %}
                    </td>
                </tr>

            {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>

<style>

    tr.hover:hover {
        background-color: #f6f6f6;
    }

</style>