{% comment %}

    Data for this table comes from /_data/states.yml
    (in YAML format)
    Taken directly from Seth's reports

{% endcomment %}

<!-- Sort by: <select><option>State</option></select> -->

{% include vue %}

{% raw %}
<div id="seth-reports-list" class="responsive-table">
<table class="small">
    <thead>
        <tr>
            <th></th>
            <th style="text-align: center" colspan="2">Trump</th>
            <th style="text-align: center" colspan="2">Biden</th>
            <th style="text-align: center" colspan="2">Potential fraud</th>
            <th></th>
        </tr>
        <tr class="sort-headers">
            <th v-on:click="sort('name')">State</th>
            <th v-on:click="sort('trump_votes_raw')" style="text-align: center" title="Official vote count for Trump, as certified by the state">Votes</th>
            <th v-on:click="sort('trump_percent')" style="text-align: center" title="Official vote count for Trump, as certified by the state, as a percentage of total votes">%</th>
            <th v-on:click="sort('biden_votes_raw')" style="text-align: center" title="Official vote count for Biden, as certified by the state">Votes</th>
            <th v-on:click="sort('biden_percent')" style="text-align: center" title="Official vote count for Biden, as certified by the state, as a percentage of total votes">%</th>
            <th v-on:click="sort('excess_biden_votes_raw')" style="text-align: center" title="Estimated number of Democrat votes that exceed voter registration trends">Votes</th>
            <th v-on:click="sort('fraud_percent')" style="text-align: center" title="Democrat votes that exceeded voter registration trends, as a percentage of total Biden votes">%</th>
            <th v-on:click="sort('has_rumble_video')" style="text-align: center" title="Whether we have additional video content expanding on the written statistics"></th>
        </tr>    
    </thead>
    <tbody>

        <tr class="hover" v-for="[slug, state] in data" v-if="state.biden_votes">
            <td>
                <a v-bind:href="state.url">{{ state.name }}</a>
            </td>
            <td title="Official vote count, as certified by the state"
                v-bind:class="{red: state.trump_votes_raw > state.biden_votes_raw }">
                {{ state.trump_votes }}
            </td>
            <td title="Percentage of total votes"
                v-bind:class="{red : state.trump_votes_raw > state.biden_votes_raw }">
                ({{ state.trump_percent }})
            </td>
            <td title="Official vote count, as certified by the state"
                v-bind:class="{blue : state.trump_votes_raw < state.biden_votes_raw }">
                {{ state.biden_votes }}
            </td>
            <td title="Percentage of total votes"
                v-bind:class="{blue : state.trump_votes_raw < state.biden_votes_raw }">
                ({{ state.biden_percent }})
            </td>
            <td title="Estimated number of votes that exceed voter registration trends">
                {{ state.excess_biden_votes }} 
            </td>
            <td title="Excess votes as a percentage of Biden votes">
                ({{ state.fraud_percent }}%)
            </td>
            <td style="cursor: default">
                <small v-if="state.has_rumble_video" title="Report includes video">🎬</small>
            </td>
        </tr>

    </tbody>
</table>
</div>
{% endraw %}

<script>
    Number.prototype.round = function(places = 2) {
        return Math.round(this * Math.pow(10, places)) / Math.pow(10, places);
    };    
    Number.prototype.percent = function(places = 2) {
        return (this * 100).round(places)
    };

    // We'll populate this list via Liquid
    var statesWithRumbleVideos = [
        {% for p in site.pages %}
            {% if p.state
                  and p.abbr
                  and p.url contains '/seth-keshel-reports/'
                  and p.content contains 'rumble.com' %}
            '{{ p.url }}',
            {% endif %}
        {% endfor %}
    ];

    // Get the state data from Jekyll data file and store it here as JSON
    var data = Object.entries({{ site.data.states | jsonify }});

    // We'll also populate a few other fields, only on page load
    data.forEach(([slug, state]) => {
        state.fraud_percent = (state.excess_biden_votes_raw / state.biden_votes_raw).percent(1);
        state.url = '/seth-keshel-reports/' + slug + '/';
        state.has_rumble_video = statesWithRumbleVideos.indexOf(state.url) > -1;
    });

    app = new Vue({
        el: '#seth-reports-list',
        data: {
            data: data,
            sortColumn: null,
            sortDirection: -1
        },
        methods: {
            sort(columnName) {
                // If we're already sorting by this column, flip the direction
                if (columnName == this.sortColumn)
                    this.sortDirection = -this.sortDirection;
                else
                    this.sortDirection = -1;
                
                // Sort the array (in place)
                this.data.sort((a, b) => {
                    a = a[1][columnName];
                    b = b[1][columnName];
                    if (!isNaN(parseFloat(a))) a = parseFloat(a);
                    if (!isNaN(parseFloat(b))) b = parseFloat(b);
                    if (a > b)
                        return this.sortDirection;
                    else if (a < b)
                        return -this.sortDirection;
                    else
                        return 0;
                });

                // Remember which column we're sorting by, so we can reverse it later if needed
                this.sortColumn = columnName;
            }
        },
        computed: {
            
        }
    });
</script>

<style>

    tr.hover:hover {
        background-color: #f6f6f6;
    }

    .sort-headers th {
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .sort-headers th:hover {
        background-color: #f0f0f0;
    }
</style>