/**
 * Action Banner
 */
#action-banner {

  $light-grey: #94b3d5;

  background-color: #536171;
  color: white;
  padding-top: 1.9em;
  padding-bottom: 0.6em;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;

  // Flag background image. Still needs more tweaking.
  background-color: #176ab8;
  background: linear-gradient(#2068ad,#2f6fc9);
  background: linear-gradient(#32618d, #195cba);

  &::before {
    content: "";
    background-image: url(/images/bg_flag.jpg);
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0.6;
  }

  > * {
    position: relative;
  }

  h3 {
    color: white;
    margin-top: 0em;
  }
  a {
    color: lighten($light-grey, 12);
    border-bottom-color: darken($light-grey, 15);

    &:hover {
      color: white;
    }
  }
  .open .short {
    display: none;
  }
  .short {
    overflow: hidden;
    text-align: center;
    h3 {
      text-align: center;
      
      // margin-right: 1em;
      // @media (min-width: 360px) {        
      //   float: left;
      //   width: 50%;
      // }
      // float: none;

      display: inline-block;
      width: auto;
      margin-right: 0.5em;

      @media (min-width: 500px) {
        margin-right: 1.2em;
      }
      @media (min-width: 800px) {
        margin-right: 2em;
        font-size: 1.7em;
      }
    }
  }
  .toggle {
    clear: both;
    font-size: 80%;
    text-align: center;
    color: $light-grey;
    // color: #94b3d5;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: white;
    }

    svg {
      width: 1em;
      height: 1em; // fixes IE bug
      vertical-align: text-bottom;
      margin-right: 0.5em;
    }
  }
  .open .toggle svg {
    transform: rotate(180deg);
  }

  .open .long {
    display: block;
  }
  .long {
    display: none;
    margin-bottom: 2em;

    h3:first-child {
      margin-top: 0;
    }
    h3 {
      margin-top: 0.7em;
      margin-bottom: 0.1em;
      color: lighten($light-grey, 10);
    }

    @media (min-width: 420px) {
      h3 {
        float: left;
        clear: left;
        width: 4em;
        margin-right: 1.6em;
        margin-top: 0;
      }
      & > div {
        overflow: hidden;
        margin-bottom: 1.3em;
        // margin-top: 8px;
        // float: left;
      }
    }
  }
}

.show-if-open {
  display: none;
}
.open span.show-if-open {
  display: inline;
}
.open .show-if-closed {
  display: none;
}


/**
 * Footer nav
 */
#footer-nav {
  // Each column has a bottom-margin, but this adds too much space before the line
  // so need to reduce some of that here
  margin-bottom: -1.8rem;
}

/**
 * These apply to: 
 * - main header nav (desktop)
 * - main header nav (mobile)
 * - footer nav
 */
#footer-nav, #main-navigation {

  h5, h6 {
    font-family: inherit;
  }
  h5 {
    margin-bottom: 0.5rem;
  }
  h6 {
    margin-top: 0.9rem;
    margin-bottom: 0.2rem;
    color: #99a4b0;
  }
  .nav-section {
    // Vertical space between columns when stacked
    margin-bottom: 2.2em;

    // Individual links within the nav
    & > div,   // top level
    li         // secondary level
    {
      margin-bottom: 0.35em;
    }

    li {
      color: #bbbbbb;
      list-style-type: square;
      font-size: 94%;
      margin-bottom: 0.45em;
    }

    ul {
      margin-bottom: 0;
    }
  }
  // Add a little horizontal space between the links
  .other-states a {
    margin-right: 0.2em;
  }
}

/**
 * Site Footer
 */
.site-footer {
  background: _palette(bg);
  padding-bottom: 0.83333em;
  padding-top: 2.5em;
  
  div a {
    border-bottom-color: #ccc;
  }
}

.footer-text {
  // text-align: center;
  // margin: 2em 0;
  // padding: 2em;
  // background-color: #ededed;
  // font-size: 105%;

  .button-icon {
    margin-top: 8px;
    margin-right: 2em;
    .fab {
      margin-right: 0.5em;
      font-size: 140%;
    }
  }
}

.site-info,
.social-links {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1.33333em;

  a {
    &.button:not(.button-icon) {
      padding: 0.33333em 8px;
    }

    &:not(.button-icon) {
      // font-size: 12px;
      // letter-spacing: 0.075em;
      // line-height: 1.5;
      // text-transform: uppercase;
    }
  }
}

.site-info {
  margin-bottom: 0;
  margin-top: 0.25em;

  .copyright {
    font-size: 12px;
    // letter-spacing: 0.02em;
    // margin-bottom: 1em;
    color: #939da8;
    
    a {
        color: inherit;
    }
  }
    
  .copyright, .footer-text {
    line-height: 1.5;
    // text-align: center;
    // text-transform: uppercase;
  }

  > a {
    margin: 0 4px 6px;
  }
}

.social-links {
  a {
    margin: 0 5% 6px 0;
  }

  .icon {
    font-size: 18px;
  }
}

@media only screen and (min-width: 601px) {
  .site-footer-inside {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .site-info,
  .social-links {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .site-info {
    .copyright, .footer-text {
      text-align: left;
    }

    .copyright,
    > a {
      margin: 0 8px 6px 0;
    }
  }

  .social-links {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-left: auto;

    a {
      margin-left: 30px;
      margin-right: 0;
    }
  }
}